* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1D282E;
    text-align: center;
}

#gameWrapper {
    display: inline-block;
    margin: 0 auto;
    padding-top: 0.75em;
    background-color: #0F1A20;
}

table {
    background-color: #112530;
    padding: 0.5rem;
    margin-top: 0.75rem;
}

.cell {
    width: 1.2rem;
    height: 1.2rem;
    padding: 0.05rem;
    border-radius: 0.125rem;
    background-color: #0F1A20;
}

.cell:not(.alive):hover {
    background-color: slategray;
}

.alive {
    background-color: ghostwhite;
}

.alive:hover {
    background-color: darkgray;
}

span {
    color: white;
    font-family: sans-serif;
}

#gameRunButton {
    float: left;
    margin-left: 0.5rem;
}

#gamePresetControls {
    margin-left: 1.25rem;
}

#gameSpeedControls {
    float: right;
    margin-right: 0.5rem;
}

#gameSpeedDisplay {
    display: inline-block;
    text-align: center;
    width: 2.5rem;
}

input[type="button"] {
    padding: 0.05rem 0.5rem;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
